body {
  background: url(https://www.ppt-backgrounds.net/thumbs/low-poly-online-generator-art-slides.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
